

:root {
  font-size: 16px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.body {
  position: relative;
  display: block;
  z-index: 0;
  background-color: gray;
}


